.chefs {
    background: url("../../img/chefs/chefs-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 60px 0;
    position: relative;
  }
  .chefs::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9;
  }
  .chefs .container {
    position: relative;
    z-index: 10;
  }
  .chefs .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .chefs .member .pic {
    overflow: hidden;
  }
  .chefs .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 20px;
    right: 20px;
    background: #fff;
    padding: 20px 0;
    color: #433f39;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  .chefs .member h4 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    color: #6c665c;
    position: relative;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  .chefs .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #4653FA;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .chefs .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  .chefs .member .social {
    margin-top: 15px;
  }
  .chefs .member .social a {
    transition: color 0.3s;
    color: #7a7368;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
  }
  .chefs .member .social a:hover {
    color: #4653FA;
  }
  .chefs .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }

  @media (max-width: 992px) {
    .chefs .member {
      margin-bottom: 110px;
    }
  }
  @media (min-width: 1024px) {
    .chefs {
      background-attachment: fixed;
    }
  }